$violet-500: #272640;
$violet-300: #3e1f47;
$violet-200: #4d194d;
$violet-100: #D69ede;
$violet-50: #e0a7e7;
$green-700: #141d2d;
$green-600: #212f45;
$green-500: #1b3a4b;
$green-400: #144552;
$green-300: #065a60;
$green-200: #065a60;
$green-100: #006466;
$white: #ffffff;
$light-gray: #C4dddd;
