$fs-2: 10px;
$fs-4: 12px;
$fs-6: 14px;
$fs-8: 16px;
$fs-10: 18px;
$fs-12: 20px;
$fs-14: 22px;
$fs-20: 28px;

$fw-light: '300';
$fw-regular: '400';
$fw-medium: '500';
$fw-semi-bold: '600';
$fw-bold: '700';
