$fs-2: 10px;
$fs-4: 12px;
$fs-6: 14px;
$fs-8: 16px;
$fs-10: 18px;
$fs-12: 20px;
$fs-14: 22px;
$fs-16: 24px;
$fs-18: 26px;
$fs-20: 28px;
$fs-24: 32px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

$radius-4: 4px;
$radius-8: 8px;
$radius-50: 50%;

$bp-small: 415px;
$bp-medium: 640px;
$bp-large: 1010px;
