@import '../../public/css/quantities.scss';
@import '../../public/css/mixins.scss';

.heading {
	@include flex-justify-center;
	flex-direction: row;
	margin: 50px 0px 10px 0px;
	max-width: 900px;
	width: 95%;

	@media (min-width: $bp-large) {
		width: 80%;
	}

	h2 {
		font-size: $fs-16;
		font-weight: $fw-semi-bold;

		@media (min-width: $bp-medium) {
			font-size: $fs-20;
		}
	}

	&WithBtn {
		justify-content: space-between;
	}
}
