@import '../../public/css/quantities.scss';

.mainWrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 1440px;
	margin: 0 auto;

	.drawerVisible {
		transition-duration: 0.5s;

		@media (min-width: $bp-medium) {
			margin-left: 190px;
		}

		@media (min-width: $bp-large) {
			margin-left: 240px;
		}
	}

	.drawerHidden {
		margin-left: 0;
		transition-duration: 0.9s;
	}
}
