@import '../../public/css/quantities.scss';

.drawerVisible {
  display: flex;
  transition-duration: 0.5s;
  
  @media (min-width: $bp-small) {
    margin-left: 240px;
  }
}

.drawerHidden {
  display: flex;
  margin-left: 0;
  transition-duration: 0.9s;
}