@import '../../public/css/colors.scss';
@import '../../public/css/quantities.scss';

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: inherit;
  outline: none;
  border: none;
  cursor: pointer;

  & .icon {
    width: 16px;
    height: 16px;

    @media (min-width: $bp-small) {
      width: 20px;
      height: 20px;
    }

    @media (min-width: $bp-medium) {
      width: 24px;
      height: 24px;
    }
  }

  &[data-variant='rounded'] {
    width: 30px;
    height: 30px;
    padding: 6px;
    background-color: $violet-300;
    border: 1px solid $violet-200;
    border-radius: 50%;

    @media (min-width: $bp-small) {
      width: 40px;
      height: 40px;
      padding: 8px;
    }

    @media (min-width: $bp-medium) {
      width: 50px;
      height: 50px;
      padding: 10px;
    }
  }
}