.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  color: inherit;
  outline: none;
  border: none;
  cursor: pointer;
}