@import '../../public/css/colors.scss';
.header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: $green-500;
  color: $white;
  background-color: $violet-500;

  & .menuIcon {
    width: 20px;    
  }
}